@font-face{
	font-family:robotoo;
	src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
}
@font-face{
	font-family:gameof;
	src: url('../fonts/GameofThrones.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
	display: flex;
}

.main {
	align-items: center;
	background-image: url(../assets/map/mapblue.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 75%;
}

.portrait {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	width: 12.5%;
}

.aside_left {
	position: relative;
	 background-color: #2c2929;
	 color: #fff;
	 text-align: center;
	 font-family: robotoo;
	 font-size: .7rem;
	 padding-top: 2rem;
	 width: 25%;
 }

 .aside_left h1 {
	 font-family: gameof;
 }
 .aside_figcaption_div {
	 justify-content: space-between;
	 display: flex;
	 flex-direction: row;
	 font-family: robotoo;
	 font-size: 1rem;
	 margin: 10px;
 }

 .bio {
	text-align: justify;
	margin: 10px;
 }

 .search {
	 width: 100%;
	 position: absolute;
	 bottom: 20px;
 }
 .search i {
	 position: absolute;
	 left: 0px;
    top: 0;
 }